.game-window {

  .modal-content {
    background: url("/public/images/game-launcher-bg.png") no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
  }

  &__bg-decoration {
    background-image: url("/public/images/game-launcher-bg-pattern.png");
    background-size: cover;
    position: absolute;
    width: 440px;
    height: 440px;

    &-top-right {
      right: -140px;
      top: -160px;
      rotate: 40deg;
    }

    &-bottom-left {
      left: -200px;
      bottom: -170px;
    }
  }



  &__wrapper {
    height: 100%;
    margin: 6px auto auto;
    display: flex;
    position: relative;
    justify-content: center;
    max-width: 1310px;
    max-height: 720px;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;

    iframe {
      height: 100%;
      width: 100%;
      max-height: 820px;
      max-width: 1280px;
      border: 5px solid rgba(255, 255, 255, 0.10);
      float: left;
      overflow: hidden;
      color: wheat;
    }


  }
  &__action {
    position: absolute;
    top: 5px;
    right: 20px;
    background-color: #1b1b1b;
    opacity: .85;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .action {
      &__close {
        border: none;
        background: none;

        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
